@import"./styles/defaults/colors";
@import"./styles/defaults/breakpoints";
@import"./styles/defaults/fonts";
@import"./styles/components/header";
@import"./styles/components/footer";
@import"./styles/components/utils";


body{
    margin:0;
    background-color: $primary-color;
    font-family:$primary-font-family;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
    