@import"../defaults/colors";

@mixin blog-box{
    height:160px;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2.5px solid $primary-color;
    text-align: center;
}

@mixin blog-box-text {
    font-size: 1.5rem;
    font-weight: 600;
}

@mixin blog-posts{

    display:flex;
    flex-direction: column;
    text-align: center;
    font-family:$primary-font-family;

   img{
    width:100%;
    height:auto;
   }

   .blog-text{
    margin:0 1.5rem;
    text-align: left;
    font-size: 1.1rem;
   }

   .two-btn{
    display:flex;
    justify-content: center;
   }

   .blog-page-btn{
    font-weight: 400;
    font-size: 1rem;
    padding:0.5rem;
    width:8rem;
    border-radius: 1rem;
    border-style: none;
    background-color: $footer-background-color;
    color:$primary-color;
    margin: 1rem;
   }

   .blog-page-btn:hover{
   @include btn-hover;

   }
}

@mixin blog-box-btn {
    font-weight: 400;
    padding:0.8rem;
    border-radius: 1rem;
    border-style: none;
    color: $footer-background-color;
    font-family: $primary-font-family;
}

@mixin btn-hover {
    background-color:$link-hover-color;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.2s;
}

@mixin contact-input{

    font-size: 1rem;
    padding:1rem;
    border-radius: 1rem;
    border: none;
    font-family: $primary-font-family;
    margin-bottom: 1rem;

}

@mixin skill-100{
    width:100%;
    height:2rem;
    background-color:$secondary-color;
}

@mixin skill-not-100{
    height:2rem;
    background-color:$footer-background-color;

}

