@import"../../style.scss";

// body section styling
body{
    font-family: $primary-font-family;
    color: $footer-background-color;
}
// general about me section
.general-about{
    display:flex;
    justify-content: center;
// my photo styling
    .photo{
        border-radius: 5rem;
        padding:1.5rem;
        display: flex;
        justify-content: center;
        height:100%;
        width: 100%;
    }
// general about me text styling
    .personal-about{
        font-size: 1rem;
        padding:1.5rem;
    }
}
// education history section styling
.education{
    display:flex;
    flex-direction:column;
    text-align: left;
    padding:1.5rem;

    .education-title{
        font-size: 1.5rem;
        font-weight: 600;

    }
// education history styling
    #education-detail{
        display:flex;
        flex-direction: row;
        font-size: 1rem;
        text-align: left;
// education 1
        .coder-academy{
            width:50%;

            .education-one{
                font-weight: 600;
                font-style: italic;
            }
        }
// education 2
        .accounting{
            width:50%;

            .education-two{
                    font-weight: 600;
                    font-style: italic;
            }
        }
    }
   
}
    
// skill section styling
.skills{

    padding:1.5rem;

    .skill-intro{
        display:flex;
// skill chart 
        .skill-chart{
            color:$primary-color;
            font-weight: 600;
            margin:1rem 2rem 1rem 0;
            display:flex;
            flex-direction: column;
            justify-content: center;
            width:50%;

            .html-100{
                @include skill-100;
                margin-bottom:0.5rem;
            }

            .html-75{
                width:75%;
                @include skill-not-100;
                
            }

            .css-100{
                @include skill-100;
                margin-bottom:0.5rem;
            }
            .css-60{
                width:60%;
                @include skill-not-100;
            }

            .git-100{
                @include skill-100;
            }
            .git-50{
                width:50%;
                @include skill-not-100;
            }
        }
// skill text styling
        .skill-paragraph{
            margin:1rem 0 1rem 0;
            width:50%;

        }
    }
}
// CV download section
.cv-download{
    padding:1.5rem;

    .fa-file{
        color:$footer-background-color;
        font-size: 3rem;
    }

}

@media screen and (max-width:$medium){

    .general-about{
        flex-direction: column;
    }
    .btn-homepage{
        display: flex;
        flex-direction: column;
    }

    .skill-intro{

        display:flex;
        flex-direction: column;
        margin:0;

        .skill-chart{ 
            min-width:98%;
            }

        .skill-paragraph{
            min-width:98%;
            }
    }
}
