@import"../../style.scss";
@import"../components/utils";

@mixin blog-box{
    height:160px;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2.5px solid $primary-color;
    text-align: center;
}

@mixin blog-box-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.blog-posts{
height:800px;
display:flex;
flex-direction: column;
box-sizing:border-box;

    .blog-one{
        @include blog-box;
        background-image: url(../../images/book-with-words.png);

        .blog-one-text{
            @include blog-box-text;
            color: $footer-background-color;
        }

        .blog-two-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    } 
    
    .blog-two{
        @include blog-box;
        background-image: url(../../images/inside-a-computer.png);
        
        .blog-two-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-two-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    }
    .blog-three{
        @include blog-box;
        background-image: url(../../images/book-pages.png);

        .blog-three-text{
            @include blog-box-text;
            color:$footer-background-color;
        }

        .blog-three-date{
            color:$footer-background-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    }

    .blog-four{

        @include blog-box;
        background-image: url(../../images/lines-of-codes.png);

        .blog-four-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-four-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
        
    }

    .blog-five{
        
        @include blog-box;
        background-image: url(../../images/AI.png);

        .blog-five-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-five-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    }

}