@import"../../style.scss";

// main section-blog post list styling
.blog-posts{
height:800px;
display:flex;
flex-direction: column;
box-sizing:border-box;
font-family: $primary-font-family;

// blog one styling
    .blog-one{
        @include blog-box;
        background-image: url(../../images/book-with-words.png);

        .blog-one-text{
            @include blog-box-text;
            color: $footer-background-color;
        }

        .blog-two-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    } 
    
    // blog two styling
    .blog-two{
        @include blog-box;
        background-image: url(../../images/inside-a-computer.png);
        
        .blog-two-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-two-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    }
    // blog three styling
    .blog-three{
        @include blog-box;
        background-image: url(../../images/book-pages.png);

        .blog-three-text{
            @include blog-box-text;
            color:$footer-background-color;
        }

        .blog-three-date{
            color:$footer-background-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    }
// blog four styling
    .blog-four{

        @include blog-box;
        background-image: url(../../images/lines-of-codes.png);

        .blog-four-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-four-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
        
    }
// blog five styling
    .blog-five{
        
        @include blog-box;
        background-image: url(../../images/AI.png);

        .blog-five-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-five-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
        }
        button:hover{
            @include btn-hover;
        }
    }

}