@import"../../style.scss";

@mixin blog-box{
    height:160px;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2.5px solid $primary-color;
}

@mixin blog-box-text {
    font-size: 1.5rem;
    font-weight: 600;
}

@mixin blog-box-btn {
    font-weight: 400;
    padding:0.8rem;
    border-radius: 1rem;
    border-style: none;
}

@mixin btn-hover {
    background-color:$link-hover-color;
}

.blog-posts{
height:800px;
display:flex;
flex-direction: column;
box-sizing:border-box;

    .blog-one{
        @include blog-box;
        background-image: url(../../images/book-with-words.png);

        .blog-one-text{
            @include blog-box-text;
            color:$footer-background-color;
            
        }

        .blog-two-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
            color: $footer-background-color;
        }
        button:hover{
            @include btn-hover;
        }
    } 
    
    .blog-two{
        @include blog-box;
        background-image: url(../../images/inside-a-computer.png);
        

        .blog-two-text{
            @include blog-box-text;
            color:$primary-color;
        }

        .blog-two-date{
            color:$primary-color;
        }

        button{
            @include blog-box-btn;
            color: $footer-background-color;
        }
        button:hover{
            @include btn-hover;
        }
    }
    .blog-three{
        height:160px;
    }
    .blog-flour{
        height:160px;
    }
    .blog-five{
        height:160px;
    }

}