@import"../../style.scss";

// main section
.contact-main{
    font-family:$primary-font-family;
    color:$footer-background-color;
    padding:5rem;
    text-align: center;
   
// contact form section
    .contact-form{
        display:flex;
        flex-direction: column;
        padding:2rem;
        background-color:$contact-page-color;
        border-radius:1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        
// name and email input section
    input{
        @include contact-input;
       
    }

    input:focus{
        outline-color: $link-hover-color;
    }
// your message section
    textarea{
        @include contact-input;
    }

    textarea:focus{
            outline-color: $link-hover-color;
    }

    }
// submit btn
    button{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight:600;
        background-color: $header-background-color;
        width:8rem;
        @include blog-box-btn;
    }

    button:hover{
        @include btn-hover;
    }
}
    

