@import"../../style";

// main section
.homepage-main{
    height:800px;
    background-image:url(../../images/book-computer.png);
    background-size: cover;
    background-position:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .primary-text{
        font-size: 3rem;
        color: $footer-background-color;
        font-weight: 900;
        animation-name:moveRight;
        animation-duration: 1s;
        }

    .secondary-text{
        font-size: 1.5rem;
        color: $footer-background-color;
        font-weight: 600;
        animation-name: moveLeft;
        animation-duration: 1s;
    }
    // btn on main page
   .btn-homepage{
        display:flex;
        margin-top: 2rem;
        animation-name: moveUp;
        animation-duration: 1s;


        button{
            font-size: 1.5rem;
            font-weight: 400;
            margin: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            border-style: none;
            color: $footer-background-color;
            width:8rem;
            }
        button:hover{
            @include btn-hover;
        }
    } 
    }

@keyframes moveRight{
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }
    80%{
        transform: translateX(0.5rem);
        opacity: 0.8;

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft{
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }
    80%{
        transform: translateX(-0.5rem);
        opacity: 0.8;

    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(10rem);
        opacity: 0;
    }
    80%{
        transform: translateY(-0.5rem);
        opacity: 0.8;

    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:$medium){

    .secondary-text{
        text-wrap: wrap;
        text-align: center;
    }
    .btn-homepage{
        display: flex;
        flex-direction: column;
    }
}
